<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Weather App</ion-title>
    <ion-progress-bar
      *ngIf="isLoading"
      type="indeterminate"
      color="secondary"
    ></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="fetchCitiesAndWeathers($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-spinner
    color="secondary"
    class="spinner--loading"
    *ngIf="isLoading"
  ></ion-spinner>
  <div id="container">
    <app-card
      *ngFor="let weather of weathers"
      [weather]="weather"
      [deleteWeather]="delete"
    ></app-card>

    <app-modal
      [isOpen]="isModalOpen"
      [setIsOpen]="setOpenModal"
      [create]="create"
    ></app-modal>
  </div>
</ion-content>

<ion-footer class="footer ion-no-border">
  <ion-button
    (click)="setOpenModal(true)"
    class="footer__button"
    color="secondary"
    expand="full"
  >
    Adicionar
  </ion-button>
</ion-footer>
