$font-weight: 700;

.spinner--loading {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

#container {
  padding: 0.5em;

  .card {
    &__title {
      color: var(--ion-robo-bank-blue-tint);
      font-size: 1.25rem;
      font-style: italic;
    }

    &__text {
      color: var(--ion-robo-bank-dark-color);
    }

    &__data {
      margin-bottom: 1rem;
    }

    &__emphasis {
      font-size: 0.75rem;
    }

    &__temperature {
      font-size: 2.25rem;
      line-height: 3rem;
    }

    &__temperature,
    &__emphasis {
      font-weight: $font-weight;
    }
  }
}

.footer {
  padding: 1.375em;

  &__button {
    font-size: 1rem;
    font-weight: $font-weight;
    height: 3rem;
    text-transform: capitalize;
  }
}
