<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Weather App</ion-title>
    <ion-progress-bar
      *ngIf="isLoading"
      type="indeterminate"
      color="secondary"
    ></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="fetchCitiesAndWeathers($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-spinner
    color="secondary"
    class="spinner--loading"
    *ngIf="isLoading"
  ></ion-spinner>
  <div id="container">
    <ion-card *ngFor="let weather of weathers">
      <ion-card-header>
        <ion-row
          class="ion-align-items-center ion-justify-content-end ion-text-start"
        >
          <ion-col size="10">
            <ion-card-title>
              <ion-text class="card__title">
                {{weather.query.location.name}}
              </ion-text>
            </ion-card-title>
          </ion-col>
          <ion-col size="2">
            <ion-button
              class="ion-margin-start"
              size="small"
              shape="round"
              fill="clear"
            >
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-justify-content-end">
            <ion-col size="8">
              <p class="card__data card__text">
                <span class="card__emphasis">Vento:</span>
                {{weather.query.current.wind_kph}} km/h
              </p>
              <p class="card__data card__text">
                <span class="card__emphasis">Precip:</span>
                {{weather.query.current.precip_mm}} cm
              </p>
              <p class="card__data card__text">
                <span class="card__emphasis">Pressão:</span>
                {{weather.query.current.pressure_in}} cm
              </p>
            </ion-col>
            <ion-col size="4" class="ion-align-self-end ion-text-end">
              <ion-text color="secondary" class="card__temperature">
                {{weather.query.current.temp_c}} °C</ion-text
              >
              <ion-row class="ion-align-items-center">
                <ion-col>
                  <ion-img
                    [src]="weather.query.current.condition.icon"
                    [alt]="weather.query.current.condition.text"
                  ></ion-img>
                </ion-col>
                <ion-col>
                  <p class="card__text">
                    {{weather.query.current.condition.text}}
                  </p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="footer ion-no-border">
  <ion-button class="footer__button" color="secondary" expand="full">
    Adicionar
  </ion-button>
</ion-footer>
