$font-weight: 700;

.spinner--loading {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

#container {
  padding: 0.5em;
}


.footer {
  padding: 1.375em;

  &__button {
    font-size: 1rem;
    font-weight: $font-weight;
    height: 3rem;
    text-transform: capitalize;
  }
}
